#main {
  background-color: #2b8025;
  position: relative;
  z-index: 1001;
}

ul.nav {
  justify-content: center;
  margin: 0 10%;
  padding: 0px 0px 0px 0px;
  display: flex;
  background: #2b8025;
}

ul.nav > div {
  font-family:
    Brush Script MT,
    cursive;
  color: white;
  font-size: 36px;
  border-right: 2px solid white;
  border-radius: 20px;
  padding-right: 15px;
}

ul.nav li {
  float: left;
  list-style: none;
  margin: 0 0.5em 0 0.5em;
  padding: 0.5em 0.5em 0.5em 0.5em;
  font-size: 1.5em;
  transition: transform 0.5s ease-out;
}

ul.nav li a {
  text-decoration: none;
  color: white;
  position: relative;
}

ul.nav li:hover {
  transform: scale(1.1);
}

ul.nav li a::after {
  margin-top: 2px;
  content: '';
  width: 0px;
  height: 5px;
  background: white;
  position: absolute;
  border-radius: 20px;
  top: 100%;
  left: 0;
  transition: 0.5s ease-out;
}

ul.nav li a:hover::after {
  width: 50%;
  transform: translateX(100%);
}
